* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: calibri;
}

/* header */
header {
    padding: 25px 25px 0px 25px;
    display: flex;
    flex-wrap: wrap;
    color: #39a7ff;
    column-gap: 50px;
    row-gap: 5px;
    align-items: center;
}

header h1 {
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
}

header nav ul {
    display: flex;
    gap: 15px;
}

header li {
    display: inline;
}

header li a {
    color: #adb3b1;
    font-size: 20px;
    transition: 0.3s;
}

header li a:hover {
    color: deepskyblue;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    background-color: white;
    border-radius: 5px;
}

header li a:active {
    color: red;
}


/* main */ 
main {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items :flex-end;
}

main article {
    flex-basis: 50%;
    padding: 25px 25px 5px 25px;
}

main article h2 {
    color: #008cff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    animation: slideleft 1s forwards;
}

main article p {
    font-size:20px ;
    font-family: calibri;
    line-height: 1.5;
    animation: slideleft 1s forwards;
}

main article .button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

main article .ctc-button,
main article .more-button {
    width: 110px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    color: deepskyblue;
    border: 1px solid deepskyblue;
    transition: 0.3s;
    animation: slideup 1s forwards;
}

main article .ctc-button:hover,
main article .more-button:hover {
    font-weight: bold;
    background-color: #39a7ff;
    color: #ffffff;
}

main aside {
    position: relative;
    flex-basis: 50%;
}

main .review {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    animation: slideup 1s forwards;
}


main .review h2 {
    color: #87c4ff;
    padding: 25px 25px 5px 25px;
}

/* aside */
aside img {
    width: 747px;
    filter: grayscale(100%);
    animation: slidedown 1s forwards;
}

aside img:hover {
    filter: grayscale(0);
    transition : 0.3s;

}



/* footer */
footer {
    position: relative;
    bottom: -74px;
    font-size: 15px;
    background-color: #24305e;
    text-align: center;
    padding: 10px;
    color: #ffffff;
} 


@media screen and (max-width:768px) {

    /* header */
    header {
        padding: 25px 25px 0px 25px;
        display: flex;
        flex-wrap: wrap;
        color: #39a7ff;
        column-gap: 50px;
        row-gap: 5px;
        align-items: center;
    }
    
    header h1 {
        font-size: 30px;
    }
    
    header nav ul {
        display: flex;
        gap: 15px;
    }
    
    header li {
        display: inline;
    }
    
    header li a {
        color: #adb3b1;
        font-size: 18px;
    }
    

    /* main */
    main article {
        flex-basis: 100%;
    }

    main article h2 {
        width: 100%;
        color: #008cff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 45px;
        margin-bottom: 10px;
    }

    main article .ctc-button,
    main article .more-button {

        width: 120px;
        height: 30px;
        background-color: white;
        border-radius: 3px;
        text-align: center;
        line-height: 30px;
        border: 1px solid deepskyblue;
        font-size: 15px;
    }

    main aside {
        margin-top: 30px;
    }

    main aside  img{
        padding-left: 15px;
        width: 100vw;
    }

    main aside .circle {
        width: 0;
    }

    .review {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 15px;
    }

}


@keyframes slidedown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideleft {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slideup {
    from {
        transform: translatey(50px);
        opacity: 0;
    }
    to {
        transform: translatey(0);
        opacity: 1;
    }
}


