* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: calibri;

}

/* header */
header {
    padding: 25px 25px 0px 25px;
    display: flex;
    flex-wrap: wrap;
    color: #39a7ff;
    column-gap: 50px;
    row-gap: 5px;
    align-items: center;
}

header h1 {
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
}

header nav ul {
    display: flex;
    gap: 15px;
}

header li {
    display: inline;
}

header li a {
    color: #adb3b1;
    font-size: 20px;
    transition: 0.3s;
}

header li a:hover {
    color: deepskyblue;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    background-color: white;
    border-radius: 5px;
}

header li a:active {
    color: red;
}



/* main */
main {
    margin-top: 40px;
    padding: 0 40px 0px 40px;

}

main .form-box-title {
    font-size: 25px;
    text-align: center;
    color: #39a7ff;
    animation: slidedown 1s forwards;
}

main .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* .container-left */
.container-left {
    padding: 40px;
    position: relative;
    flex-basis: 50%;
    animation: slideright 1s forwards;
}

.container-left input{
    width: 80%;
    height: 30px;
    padding-left: 5px;
    border: 2px solid #aaa;
    border-radius: 10px;
    transition: 0.3s;
}

.container-left input,
.container-left select,
.container-left textarea,
.container-left button {
    margin-bottom: 20px;
}

.container-left textarea {
    width: 80%;
    border: 2px solid #aaa;
    border-radius: 10px;
    transition: 0.3s;
}

.container-left button {
    width: 80%;
    line-height: 2em;
    background-color: rgb(0, 149, 255);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.container-left button:hover {
    background-color: rgb(10, 110, 181);
}

.container-left input:hover,
textarea:hover {
    border: 2px solid rgb(0, 174, 255);
}


/* container-right */
.container-right {
    padding: 40px 40px 0px 40px;
    flex-basis: 50%;
    animation: slideleft 1s forwards;

}

.socialmedia-title h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
    color: #39a7ff;
}

.sosmed-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;    

}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: 0.3s ;
}

.icon:hover i {
    color: white;
}

.icon a {
    text-decoration: none;
    color: #fff;
}

span {
    margin-left: 5px;
}

.icon:hover {
    width: 200px;
    color: white;
}

.icon .fa-facebook-f {
    color:#1877f2;
}
.FB:hover {
    background-color:#1877f2;
}

.icon .fa-instagram {
    color:#406e94;
}
.IG:hover {
    background-color:#406e94;
}

.icon .fa-youtube {
    color:#ff0000;
}
.YT:hover {
    background-color:#ff0000;
}

.icon .fa-telegram{
    color:#0088cc;
}
.TL:hover {
    background-color:#0088cc;
}

.icon .fa-whatsapp{
    color:#25d366;
}
.WA:hover {
    background-color:#25d366;
}



/* footer */
footer {
    position: relative;
    bottom: -74px;
    font-size: 15px;
    background-color: #24305e;
    text-align: center;
    padding: 10px;
    color: #ffffff;
} 


@media screen and (max-width:768px)
{   
    /* header */
    header {
        padding: 25px 25px 0px 25px;
        display: flex;
        flex-wrap: wrap;
        color: #39a7ff;
        column-gap: 50px;
        row-gap: 5px;
        align-items: center;
    }
    
    header h1 {
        font-size: 30px;
    }
    
    header nav ul {
        display: flex;
        gap: 15px;
    }
    
    header li {
        display: inline;
    }
    
    header li a {
        color: #adb3b1;
        font-size: 18px;
    }
    

    /* main */
    main {
        padding: 0;
        
    }

    main .form-box-title {
        font-size: 22px;
    }

 
    main .main-container {
        flex-direction: column;
    }

    .container-left input,
    .container-left select,
    .container-left textarea,
    .container-left button {
        width: 100%;
    }


    /* .social-wrapper */
    .sosmed-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@keyframes slidedown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideright {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slideleft {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

